{%extends "blog/base.html"%} {%load static%} {%block content%}
<div class="col-sm-10">
  <h3 class="text-white my-lg-3 display-5">Contact Us</h3>
  <p class="h5 mt-1"><em>Feel free to contact us...</em></p>
</div>
<br /><br />
<div class="container">
  <form>
    <div class="form-group">
      <label for="name" class="h4">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
      /><br />
    </div>
    <div class="form-group">
      <label for="email" class="h4">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
      /><br />
    </div>
    <div class="form-group">
      <label for="message" class="h4">Message</label>
      <textarea class="form-control" id="message"></textarea><br />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{%endblock content%}
